.sidenav {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #468F8B;
    overflow-x: hidden;
    padding-top: 20px;
  }
  
  .sidenav a {
    color: black;
    display: block;
   }
  
  .sidenav a:hover {
    color: black;
  }
  #logo{
      font-size: 35px;
      font-weight:500;
      padding-bottom:15px;
      text-align: center;
  
  }
  .main {
    margin-left: 200px; 
  }
  
  
  .navlink {
      font-size: 20px;
      text-decoration: none;
      padding: 10px 15px 15px;
  }
  #sidehr{
      height:5px;
      background-color:white;
      border:none;
  }
  #inviteButton{
      margin-top:250px;
      width:120px;
      background-color:#3E8E50;
      margin-left:10px;
      text-align: center;
      border:solid black 1px;
  }
  .urlstyle {
      border:solid black 1px;
      background-color:#bfbaba;
      height:40px;
      margin-bottom:15px;
  }