.day-label {
    margin-bottom: 10px; 
    font-size: 1.2em; 
}

.button-group {
    margin-bottom: 15px; 
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.custombtn {
    margin: 5px; /* Space around buttons */
    padding: 8px 12px; /* Button padding for better touch */
    background-color:#959695;
    border-radius:12px;
}
.custombtn:hover {
    margin: 5px; /* Space around buttons */
    padding: 8px 12px; /* Button padding for better touch */
    background-color:#484a49;
    border-radius:12px;
}


#submitSchedule {
padding: 10px 20px;
font-size: 16px; 
background-color: #959695; 
color: black; 
border: black solid 1px; 
border-radius: 5px; 
}
.customcell.medium-12 {
display: flex; 
justify-content: center; 
align-items: center; 
height: 100px; 
width: 100%; 
}
#submitSchedule:disabled {
background: #484a49; 
color: black; 
}
.customcell {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px; 
}

.rs-clock-number {
    font-size: 14px; 
    color: #000; 
    font-weight: bold;
  }