
<div class="reveal" id="exampleModal" data-reveal>
    <!-- Navbar at the top -->
    <div class="top-bar">
      <div class="top-bar-left">
        <ul class="menu" id="modalnav">
          <li ><a class="modalnavlink">Members</a></li>
          <li><a class="modalnavlink">Rooms</a></li>
        </ul>
      </div>
    </div>
    <!-- User info and dropdown to the right -->
    <div class="grid-x grid-padding-x">
      <div class="large-6  small-6 cell">
        <!--
            Example user forenames and surnames
            Loop around names and output them
        -->
        <p>User: John Reed</p>
        <p>User: Taylor Edwards</p>
        <p>User: Samuel Brooks</p>
        <p>User: Ian Keller</p>
      </div>
      <!-- Since each dropdown is linked via id div on a class "data toggle" we will probably have to pass user id into the div id to make the dropdown work
            when we start to loop the details based on backend data . Id probably be like household+1 + 1 would be the user id in this case-->
    <div class="small-6 cell text-right">
        <p><a class="dropdown-toggle" data-toggle="householdAdminDropdown1">HouseHold Admin</a></p>
        <div class="dropdown-pane custom-dropdown customdropdown" id="householdAdminDropdown1" data-dropdown data-auto-focus="true">
            <div class="large-6 small-3">
                <div class="hovering">
                    <!-- Example user forename and surname -->
                    <p class="hhadmin">HouseHold Admin </p>
                    <p class="smalltext">Household admins can only manage members status </p>
                </div>
                <div class="hovering">
                    <p class="member">Member</p>
                </div>
            </div>
                <hr class="dropdownhr">
                <!-- Household admin cant leave if their still members left in house-->
                <div class="leavhouse">
                <p class="leaving">Leave HouseHold</p>
            </div>
        </div>
    
        <p><a class="dropdown-toggle" data-toggle="householdAdminDropdown2">Member</a></p>
        <div class="dropdown-pane custom-dropdown customdropdown" id="householdAdminDropdown2" data-dropdown data-auto-focus="true">
            <div class="large-6 small-3">
                <div class="hovering">
                    <!-- Example user forename and surname -->
                    <p class="hhadmin">HouseHold Admin </p>
                    <p class="smalltext">Household admins can only manage members status </p>
                </div>
                <div class="hovering">
                    <p class="member">Member</p>
                </div>
            </div>
                <hr class="dropdownhr">
                <!-- Household admin cant leave if their still members left in house-->
                <div class="leavhouse">
                <p class="leaving">Leave HouseHold</p>
            </div>
        </div>
    
        <p><a class="dropdown-toggle" data-toggle="householdAdminDropdown3">Member</a></p>
    <div class="dropdown-pane custom-dropdown customdropdown" id="householdAdminDropdown3" data-dropdown data-auto-focus="true">
            <div class="large-6 small-3">
                <div class="hovering">
                    <!-- Example user forename and surname -->
                    <p class="hhadmin">HouseHold Admin </p>
                    <p class="smalltext">Household admins can only manage members status </p>
                </div>
                <div class="hovering">
                    <p class="member">Member</p>
                </div>
            </div>
                <hr class="dropdownhr">
                <!-- Household admin cant leave if their still members left in house-->
                <div class="leavhouse">
                <p class="leaving">Leave HouseHold</p>
            </div>
        </div>
    
        <p><a class="dropdown-toggle" data-toggle="householdAdminDropdown4">Member</a></p>
        <div class="dropdown-pane custom-dropdown customdropdown" id="householdAdminDropdown4" data-dropdown data-auto-focus="true">
            <div class="large-6">
                <div class="hovering">
                    <!-- Example user forename and surname -->
                    <p class="hhadmin">HouseHold Admin </p>
                    <p class="smalltext">Household admins can only manage members status </p>
                </div>
                <div class="hovering">
                    <p class="member">Member</p>
                </div>
            </div>
                <hr class="dropdownhr">
                <!-- Household admin cant leave if their still members left in house-->
                <div class="leavhouse">
                <p class="leaving">Leave HouseHold</p>
            </div>
        </div>
    </div>

    </div>
    <!-- Close button -->
    <button class="close-button" data-close aria-label="Close modal" type="button">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>


  
    